body,div,input,html
{
	height: 100%;
	margin:0px;
	padding:0px;
}

.FirstRow {
	margin-bottom: 10%;
}

body {
	background-image: url("background.png");
	/*background-repeat: no-repeat;*/
	/*background-position: center center;*/ /*not needed cause of 'cover' */
	background-attachment: fixed;
	background-size: cover;
}

	
#nav {
	display: inline;
	width: 33%;
    height: 30px;   
    float: center;
    margin-left: 5%;
}

/* DIMMING THE BACKGROUND*/

#bodyDim {
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
	margin-top: 0%;	
}


/*STYLING OF THE MAP DIV*/

#map {
	height: 50%;
	width: 50%;
    margin: auto auto;
}