body,div,input,html,header,span
{
	margin:0px;
	padding:0px;
}

body {
	background-image: url("background.png");
	background-attachment: fixed;
	background-size: cover;
}

input[type=submit] {
	height: 17%;
	width: 10%;
	border-radius: 100%;
	opacity: 0.5;
	background-color: 99FF00;
}

#upload-button{
	position: absolute;
	left: 46%;
	top: 50%;
	font-family: "Ariel";
	font-style: oblique;
	font-size: 20px;


}

input[type=file] {
	display: none;
}

#reg_div {
	border: 1px solid black;
	width: 8%;
	position: absolute;
	left: 92%;
	height: 12%;
	text-align: center;
	border-bottom-left-radius: 35%;
	background-color: 99FF00;
	opacity: 0.5;
}

#reg_text {
	position: relative;
	top: 35%;
	left: 6%;
}

#title {
	padding: 0px;
	margin: 0px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 50px;
	text-shadow: 1px 1px white, -1px -1px #444
}

#navbar {
	float: left;
	text-align: center;
	border-bottom: 1px solid black;
	background-color: 99FF00;
	opacity: 0.5;
	width: 92%;
}

.FirstRow {
	margin-top: 4%;
	margin-left: 1%;
	font-family: "Ariel";
	font-style: oblique;
	font-size: 20px;
}

.SecondColumn {
	margin-left: 10%;
}
	
#nav { 
    text-align: center;
    clear: left;
}

/* DIMMING THE BACKGROUND*/

#bodyDim {
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
	margin-top: 0%;	
}


/*STYLING OF THE MAP DIV*/

#map {
	height: 50%;
	width: 50%;
    margin: auto auto;
}