body,div,input,html
{
	margin:0px;
	padding:0px;
}

body {
	background-image: url("background.png");
	background-attachment: fixed;
	background-size: cover;
}

input[type=submit] {
	height: 17%;
	width: 10%;
	border-radius: 100%;
	opacity: 0.5;
	background-color: lightgreen;
}

#reg {
	border: 1px solid black;
	padding: 0%;
	margin: 0%;
	color: white;
	text-align: center;
}

#upload-button{
	position: absolute;
	left: 46%;
	top: 50%;

}

input[type=file] {
	display: none;
}


#title {
	padding-top: 0px;
	margin-bottom: 0px;
}

#navbar {
	float: left;
	text-align: center;
	border-bottom: 1px solid black;
	background-color: lightgreen;
	opacity: 0.5;
	width: 100%;
}

.FirstRow {
	margin-top: 4%;
	margin-left: 1%;
}

.SecondColumn {
	margin-left: 14%;
}
	
#nav { 
    text-align: center;
}

/* DIMMING THE BACKGROUND*/

#bodyDim {
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
	margin-top: 0%;	
}


/*STYLING OF THE MAP DIV*/

#map {
	height: 50%;
	width: 50%;
    margin: auto auto;
}